.table th,
.table td {
  vertical-align: inherit;
}

.container > ul > li {
  list-style: none;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.8);
  text-align: center;
}

.hide {
  display: none;
}